# This flag tells pip to also look for packages on the PyTorch server for CUDA 12.1
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.8.0
torchvision
torchaudio

numpy
pandas
opencv-python
openai-whisper
scenedetect
scipy
tqdm
python_speech_features
gdown

