-f https://download.pytorch.org/whl/cu121
torch==2.8.0+cu121  # Make sure to match CUDA 12.1
torchvision==0.23.0+cu121  # Match torch CUDA version
numpy
opencv-python
whisper
scenedetect
scipy
tqdm
python_speech_features

gdown

